// global colors
$color-black: #0c0c0c;
$color-black-1: #171717;
$color-black-2: #0a0a0a;
$color-grey-2: #242424;
$color-grey-3: #2a2a2a;
$color-grey-4: #1d1a1a;
$color-grey-5: #393939;
$color-grey-6: #414141;
$color-grey-7: #2c2c2c;
$color-grey-8: #5b5b5b;
$color-grey-9: #424242;
$color-grey-10: #6a6a6a;
$color-grey-11: #212121;
$color-grey-12: #808080;
$color-grey-13: #4D4D4D;

$color-light-grey-1: #bababa;
$color-light-grey-2: #a5a5a5;
$color-light-grey-3: #C0C0C0;
$color-red-1: #e15454;
$color-red-2: #d85252;
$color-red-3: #c41515;
$color-red-4: #ff5a5a;
$color-red-5: #FD2222;
$color-green-1: #8da868;
$color-green-2: #00dc3e;
$color-green-3: #06a131;
$color-white: #fff;
$color-dark-blue: #261E51;
$color-dark-pink: #622851;